{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <form action="{{url_for('create_can')}}" method="POST">
                <fieldset>
                {{ form.csrf_token }}
                    <legend>创建书罐</legend>
                    <div class="form-group label-floating">
                      <label class="control-label" for="focusedInput1">书罐名称：</label>
                      <input class="form-control" id="focusedInput1" type="text" name="name">
                    </div>

                    <div class="form-group label-floating">
                      <label class="control-label" for="focusedInput2">书罐介绍：</label>
                      <textarea class="form-control" type="text" name="intro" rows="4"></textarea>
                    </div>

                    <div class="togglebutton">
                      <label>
                          <input type="checkbox" name="modify_permission" value="y">是否允许他人编辑
                      </label>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <button type="submit" class="btn btn-primary">下一步</button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block code %}



{% endblock %}
