{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">


    <div class="col-sm-4 col-sm-offset-4">
    </br></br></br></br>
        <form class="form-horizontal" action="/login" method="POST">
        <fieldset>
            {{ form.csrf_token }}
            <div class="form-group label-floating">
              <label class="control-label" for="focusedInput2">输入注册邮箱</label>
              <input name="email" class="form-control" id="focusedInput2" type="text">
              <!-- <p class="help-block">You should really write something here</p> -->
            </div>

            <div class="form-group label-floating">
              <label class="control-label" for="focusedInput2">密码</label>
              <input name="passwd" class="form-control" id="focusedInput2" type="password">
              <!-- <p class="help-block">You should really write something here</p> -->
            </div>

            <div class="togglebutton">
                      <label>
                        <input name="remember_me" type="checkbox" checked> 记住我
                      </label>
                    </div>

            <div class="form-group">
                <div class="col-sm-4 col-lg-offset-4">
                    <button type="submit" class="btn btn-primary">登陆</button>
                </div>
            </div>
        </fieldset>
        </form>
    </div>
</div>

{% endblock %}

{% block code %}
{% endblock %}

